<%- include('./partials/header') %> 

	<!-- Contact page -->
	<section class="contact-page page-warp">
		<div class="sp-container">
			<div class="page-title">
				<h2>Contact</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis et augue non mollis. Sed sagittis.</p>
			</div>
		</div>
		<div class="contact-warp">
			<div class="sp-container">
				<div class="contact-text">
					<h4>The Look Gallery</h4>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/map-marker.png" alt="">
						</div>
						<p>712  Mayo Street, Lexington, Kentucky 40507, AR</p>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/phone.png" alt="">
						</div>
						<p>678-434-6837</p>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/envelope.png" alt="">
						</div>
						<p>hello@yourwebsite.com</p>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/clock.png" alt="">
						</div>
						<p>M - F: 09:00 AM - 17:00 PM</p>
					</div>
				</div>
				<div class="contact-text">
					<h4>The Look Gallery</h4>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/phone.png" alt="">
						</div>
						<p>678-434-6837</p>
					</div>
					<div class="contact-info">
						<div class="ci-icon">
							<img src="img/icons/envelope.png" alt="">
						</div>
						<p>john@yourwebsite.com</p>
					</div>
				</div>
			</div>
			<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe></div>
		</div>
	</section>
	<!-- Contact page end -->

<%- include('./partials/footer') %> 
